skewer/external/srgb_spec_data.h filter=lfs diff=lfs merge=lfs -text
tests/integration/fixtures/golden_images/*.exr filter=lfs diff=lfs merge=lfs -text
tests/integration/fixtures/golden_images/*.png filter=lfs diff=lfs merge=lfs -text
tests/integration/fixtures/golden_scenes/**/*.nvdb filter=lfs diff=lfs merge=lfs -text
