skewer/external/srgb_spec_data.h filter=lfs diff=lfs merge=lfs -text
tests/integration/fixtures/golden_images/*.exr filter=lfs diff=lfs merge=lfs -text
tests/integration/fixtures/golden_scenes/vol_wdas_cloud/wdas_cloud_float.nvdb filter=lfs diff=lfs merge=lfs -text
tests/integration/fixtures/golden_scenes/vol_cloud_05/cloud_05_variant_0000.nvdb filter=lfs diff=lfs merge=lfs -text
